body{
     margin: 0;
	 padding: 0;
	 background:url(13.jpg);
	 background-size: cover;
	 background-position: center;
	 font-family: sans-serif;
	 height:300px;
}
.loginbox2{
       width: 320px;
       height: 400px;
       background:chocolate;
	   color: #000;
	   top: 60%;
	   position: absolute;
	   transform: translate(170%,-65%);
	   box-sizing: border-box;
	   padding: 70px 30px;
	   border-radius:70px;
	   opacity:0.8;
	
}
.loginbox{
       width: 320px;
       height: 400px;
       background:pink;
	   color: #000;
	   top: 60%;
	   position: absolute;
	   transform: translate(-12%,-60%);
	   box-sizing: border-box;
	   padding: 70px 30px;
	   border-radius:70px;
	
}
.avatar{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 60px);
}

h1{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
	
}

.loginbox p{
		margin: 0;
		padding: 0;
		font-weight: bold;
	
}

.loginbox input{
		width: 100%;
		margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
	border: none;
	border-bottom: 1px solid #000;
	background: transparent;
	outline: none;
	height: 40px; 
	color: #000;
	font-size: 16px;
}

.loginbox input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	background: chocolate;
	color: #000;
	font-size: 18px;
	border-radius: 20px;

}

.loginbox input[type="submit"]:hover
{
	cursor: pointer;
	background: lightblue;
	color: black;
}
